name: release

on: workflow_dispatch
    inputs:
      upload-tag:
        type: string
        default: "v3"

env:
  TAG_NAME: "${{ inputs.upload-tag }}"

jobs:
  release:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    name: Release
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 9
          run_install: false

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          path: alist-web
          persist-credentials: false
          fetch-depth: 0
          submodules: recursive

#      - name: Checkout dist repo
#        uses: actions/checkout@v4
#        with:
#          repository: fcurrk/web-dist
#          ref: main
#          path: web-dist
#          persist-credentials: false
#          fetch-depth: 0

      - name: Build
        run: |
          mv alist-web/release.sh .
          bash release.sh

#      - name: Publish npm
#        run: |
#          cd alist-web
#          echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > ~/.npmrc
#          pnpm publish --no-git-checks
#          cd ..
#        env:
#          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

#      - name: Upload dist files
#        uses: ad-m/github-push-action@master
#        with:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          branch: main
#          directory: web-dist
#          repository: fcurrk/web-dist

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: compress/*
          tag_name: ${{ env.TAG_NAME }}
          body: "Synchronize source updates."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
